package views

templ Layout() {
	<link rel="stylesheet" href="/styles.css"/>
	<title>Gohan</title>
	<main>
		{ children... }
	</main>
	<script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
}
